# Mission to Mars

In [1]:
import pandas as pd
import os
import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time

## NASA Mars News

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/stephaniesalvona/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

In [3]:
# URL of page to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
# Create BeautifulSoup object
soup = bs(browser.html, 'html.parser')

In [5]:
# find the latest news title
news_title = soup.find("div", class_="content_title").text

# find the paragraph associated with the first title
news_p = soup.find("div", class_="article_teaser_body").text

In [6]:
# Print the first title 
news_title

'7 Things to Know About the Mars 2020 Perseverance Rover Mission'

In [7]:
# Print the Paragraph text 
news_p

"NASA's next rover to the Red Planet is slated to launch no earlier than July 30. These highlights will get you up to speed on the ambitious mission."

## JPL Mars Space Images - Featured Image

In [8]:
# URL of page to be scraped

url = 'https://spaceimages-mars.com/'
browser.visit(url)


# Create BeautifulSoup object
soup = bs(browser.html, 'html.parser')

In [9]:
relative_image_path = soup.find_all('a')[2]["href"]
featured_image_url = url + relative_image_path
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

## Mars Facts

In [10]:
# set the URL 

url = 'https://galaxyfacts-mars.com'

In [11]:
# Use pandas to read the html

tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
type(tables)

list

In [13]:
# view the table in df 

mars_facts_df = tables[0]
mars_facts_df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [27]:
# Rename the columns

mars_facts_df.columns=["Info","Mars","Earth"]
# mars_facts_df = mars_facts_df.iloc[1:]
mars_facts_df

                 Info             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days
5        Temperature:     -87 to -5 °C      -88 to 58°C

In [15]:
html_table = mars_facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Info</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [16]:
# URL of page to be scraped
url = 'https://marshemispheres.com'
browser.visit(url)


# Create BeautifulSoup object
soup = bs(browser.html, 'html.parser')

# Create list for image titles 
title_list = []

# find all image titles
titles = soup.find_all('h3')

titles

[<h3>Cerberus Hemisphere Enhanced</h3>,
 <h3>Schiaparelli Hemisphere Enhanced</h3>,
 <h3>Syrtis Major Hemisphere Enhanced</h3>,
 <h3>Valles Marineris Hemisphere Enhanced</h3>,
 <h3>Back</h3>]

In [17]:
# loop through titles and add them to the list 

for title in titles:
    title_list.append(title.text)
    
    
# Drop back 
title_list = title_list[0:4]

# show list 
title_list

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [18]:
# Get the image URLs 

space_image = []


for title in title_list:
    url = 'https://marshemispheres.com'
    browser.visit(url)
    browser.click_link_by_partial_text(title)
    html = browser.html
    soup = bs(html, "html.parser")
    image_url = soup.find_all('li')[0].a["href"]
    space_image.append(image_url)
    print(image_url)

/Users/stephaniesalvona/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/splinter/driver/webdriver/__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

images/full.jpg
images/schiaparelli_enhanced-full.jpg
images/syrtis_major_enhanced-full.jpg
images/valles_marineris_enhanced-full.jpg

In [19]:
# Append the dictionary with the image url string and the hemisphere title to a list.

hemipshere_image_urls = [
    {"title": title_list[0], "img_url": space_image[0]},
    {"title": title_list[1], "img_url": space_image[1]},
    {"title": title_list[2], "img_url": space_image[2]},
    {"title": title_list[3], "img_url": space_image[3]}
    
]

In [20]:
hemipshere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'images/valles_marineris_enhanced-full.jpg'}]